/*************************** Style Modal ***************************/
.row {
    display: flex;
    justify-content: space-around;
  }
.btn{
  background-color: #2823a7;
  border-color: #2823a7;
  }
.btn:hover{
  background-color: #161262;
  border-color: #161262;
}