.chatD{
    text-align: center;
    background-color: black;
    margin-top: 10px; 
    margin-left: 20%;
    margin-right: 20%;
   height: 100%;
   color: #fff;
}
#chatbox {
	text-decoration: none;
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:rgba(15, 42, 220, 0.027);
	height:270px;
	width:430px;
	border:1px solid #ACD8F0;
	overflow:auto; }

	.myMessage{
		background-color: rgb(125, 224, 191);
		width:max-content;
		margin-left: 80%;
		text-decoration: none;

		
	}
	.OtherMessage{
		background-color: rgb(206, 77, 146);
		width: max-content;
		left: 20%;
	}