.bg {
  background: url(https://www.freepik.com/free-photo/zen-balancing-pebbles-misty-lake_18416496.htm#query=relaxing&position=1&from_view=search&track=sph)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
