/* h1 {
  margin-left: 8.3rem;
  cursor: default;
} */

h3,
h4 {
  cursor: default;
}

textarea {
  resize: none;
  margin-top: 1rem;
  border-radius: 0.3rem;
}

select {
  width: 8.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.asterisk {
  color: red;
}

.link {
  text-decoration: none;
}

.x_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.x {
  margin: 0;
  width: 2.5rem;
  padding: 0.2rem;
  border: solid black 0.2rem;
  border-radius: 0.2rem;
  background-color: black;
  color: white;
  cursor: default;
  text-align: center;
}

.x:hover {
  background-color: red;
  transition: 0.5s;
}

.div_head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_head h1,
h5 {
  margin-top: 0;
  cursor: default;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(202, 202, 202);
}

.main_container {
  width: 40rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 0.3rem;
  padding: 3rem;
  background-color: rgb(152, 198, 235)
}

.general_info_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.general_info_container input {
  width: 10.5rem;
  margin-left: 0.3rem;
  margin-right: 0.5rem;
}

.general_info_container h4 {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.general_info_container textarea {
  margin-top: 0;
}

.date_record_container,
.time_meal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.date_record_container {
  margin-right: 1.5rem;
}

.time_meal_container {
  margin-left: 1.5rem;
}

.h5_head {
  margin-left: 1.7rem;
}

.sleep_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.sleep_container h2 {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.sleep_section input {
  width: 8rem;
  margin-left: 0.3rem;
  margin-right: 1rem;
}

.sleep_section button {
  margin-left: 1rem;
}

.sleep_section_input {
  margin-right: 2rem;
}

.sleep_result {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.popup_ico {
  width: 5rem;
  cursor: default;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.popup_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg_container {
  border: solid black 0.1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  margin: 0.3rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgb(24, 26, 27);
  color: white;
}

.reg_head_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity_container,
.coffee_container,
.drink_container {
  border: solid black 0.1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  margin: 0.3rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgb(24, 26, 27);
  color: white;
}

.actity_head_container,
.coffee_head_container,
.drink_head_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity_section input {
  width: 2.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.activity_section button {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.activity_section select {
  margin-top: 1rem;
}

.activity_section span {
  cursor: default;
}

.activity_section2 {
  display: flex;

}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.bottom_buttons {
  margin-top: 1rem;
  margin: 1rem;
  height: 3rem;
  width: 10rem;
  border-radius: 0.3rem;
  border: solid 0.05rem;
}

.add_button {
  padding: 0.1rem;
  font-size: smaller;
  font-weight: lighter;
  margin-left: 0.2rem;
  border: solid black 0.15rem;
  border-radius: 0.3rem;
  cursor: default;
  background-color: black;
  color: white;
  font-weight: normal;
}

.add_button:hover {
  background: green;
  transition: 0.5s;
}

.input_number {
  width: 2.5rem;
  margin-left: 0.4rem;
  margin-right: 0.9rem;
}

.div_map_container {
  display: flex;

}

.div_map {
  cursor: default;
  margin-top: 1rem;
  margin-right: 0.5rem;
  width: fit-content;
  border: solid black 0.15rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: darkslategray;
  color: white
}

.div_map:hover {
  background: red;
  color: white;
  transition: 0.5s;
}

.sync {
  padding: 0.2rem;
  font-size: smaller;
  font-weight: lighter;
  margin-left: 0.2rem;
  margin-right: 0.8rem;
  border: solid black 0.2rem;
  border-radius: 0.3rem;
  cursor: default;
  background-color: black;
  color: white;
  font-weight: normal;
}

.sync:hover {
  background: green;
  border: solid black 0.2rem;
  transition: 0.5s;
}

.bottom_buttons {
  border: solid black 0.2rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.bottom_buttons:hover {
  background: green;
  transition: 0.5s;
}

.img_ok {
  margin-left: 0.5rem;
  width: 1.1rem;
}

.new_item label,
input {
  margin-right: 0.4rem;
}

.memo {
  width: 3rem;
  margin-left: 0.5rem;
}

.person_bed {
  width: 2.2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.runing_shoe,
.coffee_ico,
.drink_ico {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 1.8rem;
}

.div_ok {
  width: 1.7rem;
  border: solid white;
  background: red;
  color: white;
  border-radius: 1.5rem;
  text-align: center;
  cursor: default;
}

.add_quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.add_item {
  display: flex;
  margin-top: 1rem;
}

.main_ico {
  width: 2rem;
}