/* h1 {
  margin-left: 8.3rem;
  cursor: default;
} */

h3,
h4 {
  cursor: default;
}

textarea {
  resize: none;
  margin-top: 1rem;
  border-radius: 0.3rem;
}

select {
  width: 8.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.asterisk {
  color: red;
}

.link {
  text-decoration: none;
}

.x_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.x {
  margin: 0;
  width: 2.5rem;
  padding: 0.2rem;
  border: solid black 0.2rem;
  border-radius: 0.2rem;
  background-color: black;
  color: white;
  cursor: default;
  text-align: center;
}

.x:hover {
  background-color: red;
  transition: 0.5s;
}

.div_head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_head h1,
h5,
h2 {
  margin-top: 0;
  cursor: default;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white
}

.main_container {
  width: 40rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 0.3rem;
  padding: 3rem;
  background-color: #1976d2;
  color: white
}

.general_info_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.general_info_container input {
  width: 10.5rem;
  margin-left: 0.3rem;
  margin-right: 0.5rem;
}

.general_info_container h4 {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.general_info_container textarea {
  margin-top: 0;
}

.date_record_container,
.time_meal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.date_record_container {
  margin-right: 1.5rem;
}

.time_meal_container {
  margin-left: 1.5rem;
}

.meal_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.meal_section {
  animation: fadeIn 2.5s ease-out forwards;
}

/* .meal_section {
  animation: fadeOut .5s ease-out forwards;
} */

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

.h5_head {
  margin-left: 1.7rem;
}

.sleep_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.sleep_container h2 {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  cursor: default;
}

.sync_div_true {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sleep_section input {
  width: 8rem;
  margin-left: 0.3rem;
  margin-right: 1rem;
}

.sleep_section button {
  margin-left: 1rem;
}

.sleep_section_input {
  margin-right: 2rem;
}

.sleep_result {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.popup_ico {
  width: 5rem;
  cursor: default;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.popup_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg_container {
  border: solid black 0.1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  margin: 0.3rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgb(24, 26, 27);
  color: white;
}

.reg_head_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity_container,
.coffee_container,
.drink_container {
  border: solid black 0.1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  margin: 0.3rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgb(24, 26, 27);
  color: white;
}

.actity_head_container,
.coffee_head_container,
.drink_head_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity_section input {
  width: 2.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.activity_section button {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.activity_section select {
  margin-top: 1rem;
}

.activity_section span {
  cursor: default;
}

.activity_section2 {
  display: flex;

}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.bottom_buttons {
  margin-top: 1rem;
  margin: 1rem;
  height: 3rem;
  width: 10rem;
  border-radius: 0.3rem;
  border: solid 0.05rem;
}

.add_button {
  padding: 0.1rem;
  font-size: smaller;
  font-weight: lighter;
  margin-left: 0.2rem;
  border: solid black 0.15rem;
  border-radius: 0.3rem;
  cursor: default;
  background-color: black;
  color: white;
  font-weight: normal;
}

.add_button:hover {
  background: green;
  transition: 0.5s;
}

.input_number {
  width: 2.5rem;
  margin-left: 0.4rem;
  margin-right: 0.9rem;
}

.div_map_container {
  display: flex;

}

.div_map {
  cursor: default;
  margin-top: 1rem;
  margin-right: 0.5rem;
  width: fit-content;
  /* border: solid black 0.15rem; */
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: rgb(33, 150, 243);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white
}

.div_map:hover {
  background: red;
  color: white;
  transition: 0.5s;
}

.sync {
  width: 6.3rem;
  height: 3rem;
  padding: 0.2rem;
  font-size: large;
  font-weight: lighter;
  text-align: center;
  margin-left: 0.2rem;
  margin-right: 0.8rem;
  border: solid black 0.2rem;
  border-radius: 0.3rem;
  cursor: default;
  background-color: black;
  color: white;
  font-weight: normal;
}

.sync:hover {
  background: green;
  transition: 0.5s;
}

.bottom_buttons {
  border: solid black 0.2rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.bottom_buttons:hover {
  background: green;
  transition: 0.5s;
}

.img_ok {
  margin-left: 0.5rem;
  width: 1.1rem;
}

.new_item label,
input {
  margin-right: 0.4rem;
}

.memo {
  width: 3rem;
  margin-left: 0.5rem;
}

.person_bed {
  width: 2.2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.runing_shoe,
.coffee_ico,
.drink_ico {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 1.8rem;
}

.div_ok {
  width: 1.7rem;
  border: solid white;
  background: red;
  color: white;
  border-radius: 1.5rem;
  text-align: center;
  cursor: default;
}

.add_quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.add_item {
  display: flex;
  margin-top: 1rem;
}

.main_ico {
  width: 2rem;
}

/*************************** Bootom Buttons ***************************/

.bottom_buttons {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.bottom_buttons::-moz-focus-inner {
  border: none;
}

/* Overlay */
.bottom_buttons::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.bottom_buttons::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  /* Safari */
  height: 32px;
  /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.bottom_buttons:hover,
.bottom_buttons:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.bottom_buttons:hover::before {
  opacity: 0.08;
}

.bottom_buttons:focus::before {
  opacity: 0.24;
}

.bottom_buttons:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.bottom_buttons:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.bottom_buttons:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.bottom_buttons:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.bottom_buttons:disabled::before {
  opacity: 0;
}

.bottom_buttons:disabled::after {
  opacity: 0;
}

/*************************** X Button ***************************/

.x {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  margin-bottom: 2rem;
}

.x::-moz-focus-inner {
  border: none;
}

/* Overlay */
.x::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.x::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  /* Safari */
  height: 32px;
  /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.x:hover,
.x:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.x:hover::before {
  opacity: 0.08;
}

.x:focus::before {
  opacity: 0.24;
}

.x:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.x:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.x:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.x:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.x:disabled::before {
  opacity: 0;
}

.x:disabled::after {
  opacity: 0;
}

/*************************** Pop Up Add Button ***************************/

.add_button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.add_button::-moz-focus-inner {
  border: none;
}

/* Overlay */
.add_button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.add_button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  /* Safari */
  height: 32px;
  /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.add_button:hover,
.add_button:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.add_button:hover::before {
  opacity: 0.08;
}

.add_button:focus::before {
  opacity: 0.24;
}

.add_button:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.add_button:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.add_button:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.add_button:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.add_button:disabled::before {
  opacity: 0;
}

.add_button:disabled::after {
  opacity: 0;
}

/*************************** Sync Button ***************************/

.sync {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  width: fit-content;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.sync::-moz-focus-inner {
  border: none;
}

/* Overlay */
.sync::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.sync::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  /* Safari */
  height: 32px;
  /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.sync:hover,
.sync:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.sync:hover::before {
  opacity: 0.08;
}

.sync:focus::before {
  opacity: 0.24;
}

.sync:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.sync:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.sync:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.sync:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.sync:disabled::before {
  opacity: 0;
}

.sync:disabled::after {
  opacity: 0;
}

/*************************** Style Modal ***************************/
.modal {
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 0;
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fefefe;
}

.modal-text {
  margin-left: 14px;
  font-size: 24px;
}

/* Create the circle loader with pure CSS */
.loader {
  width: 50px;
  height: 50px;
  border: 8px solid #ddd;
  border-top: 8px solid #2196f3;
  border-bottom: 8px solid #2196f3;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}